body {
  background: url("img/background.jpg") no-repeat center center fixed;
  margin: 50px;
}

h2 {
  text-align: center;
  font-size: 108px;
  color: #7401b2;
  font-family: "Lobster Two", Helvetica, sans-serif;
  -webkit-text-stroke: 0.1px #3b005b;
}

.login {
  border-radius: 35px;
  margin: 15%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 400px;
}

.login h1 {
  margin-bottom: -5px;
  margin-top: -20px;
  font-size: 72px;
  font-family: "Lobster Two", Helvetica, sans-serif;
  text-align: center;
}

.login input {
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: auto;
}

.login input:focus {
  outline: none;
  box-shadow: 0px 0px 6px blue;
}

.title_graphic img {
  display: block;
  margin: auto;
}

.bttn {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: -125px;
}

.bttn img {
  -webkit-filter: brightness(100%);
  margin-right: 35px;
  margin-left: 35px;
  display: inline-block;
  width: 200px;
}

.bttn img:hover {
  -webkit-filter: brightness(25%);
}

.bttn p {
  margin-left: -190px;
  margin-top: 210px;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 45px;
  color: white;
  font-family: "Lobster Two", Helvetica, sans-serif;
}

.content {
  padding: 75px;
  border-radius: 35px;
  margin: 125px;
  background-color: rgba(255, 255, 255, 0.5);
  align-content: center;
}

.content h1 {
  margin-bottom: -5px;
  margin-top: -20px;
  font-size: 72px;
  font-family: "Lobster Two", Helvetica, sans-serif;
  text-align: center;
}

.content p {
  display: inline-block;
  margin: 50px;
  font-family: "Lobster Two", Helvetica, sans-serif;
  font-style: italic;
  font-size: 45px;
}

.content input {
  font-size: 30px;
  text-align: center;
  width: 25%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: auto;
}

.content textarea {
  padding: 10px;
  font-size: 30px;
  width: 75%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: auto;
}

.content textarea:focus {
  outline: none;
  box-shadow: 0px 0px 6px blue;
}

.content input:focus {
  outline: none;
  box-shadow: 0px 0px 6px blue;
}
